<h1>Editing Compensation Request</h1>

<%= render 'form', compensation_request: @compensation_request %>

<%= link_to 'Show', @compensation_request %> |
<%= link_to 'Back', compensation_requests_path %>